.grid-responsive-demo .demo-item,
.grid-responsive-demo .demo-suffix {
  height: 48px;
  line-height: 48px;
  color: var(--color-white);
  text-align: center;
}

.grid-responsive-demo .demo-item:nth-child(2n) {
  background-color: rgba(var(--arcoblue-6), 0.9);
}
.grid-responsive-demo .demo-item:nth-child(2n + 1) {
  background-color: var(--color-primary-light-4);
}
